* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    margin-left: 20px;
}

/*style h1 and p*/
h1 {color: white;}
p {color: white;}



/* style the header*/
.header {
   
   
    background-color: rgb(141, 71, 255);
    position: fixed;
    top: 0;
    width: 100%;

}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    
    
  }

  .welcome-section {
    height:60vh;
    width: 60%;
   
    }

  #welcome-header {

      text-align: center;
      color: black;
      margin-top: 70px;
  }

  .contact {
      color: black;
  }
  
  #contact {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-bottom: 100px;
    margin-top: 100px;
    
    width: 100%;
    list-style-type: none;
  }
  
  #contact li {
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
    color: black;
  }
  
  .contact-link {
    color: black;
    text-shadow: 1px 1px;
  }



/*style the nav with all the li*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: top-right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


a {
    color: white;
    text-decoration: none;
}


 /*style h2, h3, h4*/
h2, h3, h4, h5 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}
p {
    color: black;
}

/*style the class content*/
.content {
    background-color: lightsteelblue;
    color: black;
    margin-top: 50px;
    padding-top: 50px;
    
    
}

/*style the Link*/
a:link {
    color: coral;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}

/*style the nav class*/
.nav {
    background-color: yellow; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline;
    font-size: 20px;
    padding: 20px;
  }

@media screen and (max-width:600px) {
body {
    background-color: lightgreen;

}
}

.myWorkImg {
    max-width: 100%;
    height: auto;
} 

#me {
    margin-right: 100px;
    margin-top: 50px;
}
 #img {
     margin-left: 30px;
     margin-top: 50px;
 }











